.gwt-TextBox-ok {
 color:green;
 font-weight:bold;
}

.gwt-TextBox-error {
 color:red;
 font-weight:bold;
## background-color:yellow;
}

.gwt-table {
  border: 1px solid black;
}

.gwt-table tr:nth-child(even) {
  background-color: #EEEEEE;
}
