build
bin
deb
pyjd/__init__.py
examples/showcase/build/
examples/showcase/src/demoInfo.py
output
__output__
*.pyc
*.pyo
.*.sw?
*.py~

.idea
/stdlib

/dev/parts
/dev/eggs
*PureMVC_Python*

.lock*
.waf*
/.project
/.pydevproject
/.settings
